@font-face {
  font-family: "primary";
  src: url(../public/fonts/fff-forward/FFFFORWA.TTF);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

a {
  text-decoration: none;
  text-align: center;
}

#app,
body {
  overflow: hidden;
}

/* -------------- BUTTON --------------- */

.button {
  font-family: primary;
  color: white;
  text-shadow: 3px 0 0 black, 0 -3px 0 black, 0 3px 0 black, -3px 0 0 black;
  font-size: 30px;

  width: 100%;
  padding: 10px;
  margin-top: 50px;

  background-color: #52a852;

  border-top: 1px #52a852;
  border-left: 1px #52a852;

  border-color: #52a852;
  border-right: 4px solid #003b00;
  border-bottom: 6px solid #003b00;

  box-shadow: -3px 0 0 0 black, 3px 0 0 0 black, 0 -3px 0 0 black,
    0 3px 0 0 black;
}

.button:hover {
  background-color: #84ee84;

  border-top: 1px #84ee84;
  border-left: 1px #84ee84;

  border-color: #84ee84;
  border-right: 4px solid #005a00;
  border-bottom: 6px solid #005a00;
}

.button:active {
  background-color: #84ee84;
  transform: translateY(3px);
  width: calc(100% - 2px);
  border-right: 4px solid #005a00;
  border-bottom: 5px solid #005a00;
}

/* ------------- MAIN MENU ------------- */

.scene-menu {
  background-image: linear-gradient(
      rgba(53, 54, 59, 0.1),
      rgba(53, 54, 59, 0.1)
    ),
    url(../public/img/background/bg-16.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.menu {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-family: "primary";
  color: white;
  text-shadow: 5px 0 0 black, 0 -5px 0 black, 0 5px 0 black, -5px 0 0 black;
  font-size: 60px;
  letter-spacing: 5px;
  text-align: center;
}

.sound-button-menu {
  width: 50px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.sound-img-menu {
  width: 100%;
}

/* ----------- PLAYING SCENE ----------- */

.scene {
  background-image: linear-gradient(
      rgba(122, 122, 122, 0.1),
      rgba(66, 66, 66, 0.1)
    ),
    url(../public/img/background/bg-2-4.png);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  height: 100vh;
}

.playing-field {
  width: 80%;
  height: 60%;

  position: relative;
  top: 20%;
  left: 10%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.monster-wrapper {
  width: 15%;
  margin: 0 2%;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.monster-wrapper:nth-child(1) {
  margin-top: 10%;
}

.monster-wrapper:nth-child(2) {
  margin-top: -10%;
}

.monster-wrapper:nth-child(3) {
  margin-top: 5%;
}

.monster-wrapper:nth-child(5) {
  margin-top: -6%;
}

.monster-wrapper:nth-child(6) {
  margin-top: -13%;
}

.monster-wrapper:nth-child(7) {
  margin-top: -5%;
}

.monster {
  cursor: pointer;
  width: 100%;
}

.hp-wrapper {
  border: 4px solid rgb(0, 0, 0);
  width: 60%;
  height: 24px;
  background: rgba(100, 100, 100, 0.5);
}

.hp {
  background: rgb(185, 51, 51);
  width: 100%;
  height: 100%;
  animation: hp 0.8s ease;
}

.reward {
  width: 40px;
}

.player-info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: "primary";
  color: white;
  text-shadow: 3px 0 0 black, 0 -3px 0 black, 0 3px 0 black, -3px 0 0 black;
  font-size: 30px;
  letter-spacing: 5px;

  padding: 20px 20px 0 20px;

  position: relative;
  top: 0;
  left: 0;
}

.player__hp-wrapper {
  width: 20%;
  height: 40px;
}

.player__score {
  display: flex;
  align-items: center;
  justify-content: end;

  width: 80%;
}

.score__img {
  width: 30px;
}

.potion {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 200px;
  cursor: pointer;
}

.super-attack {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 200px;
  cursor: pointer;
}

.sword {
  position: absolute;
  bottom: -40px;
  width: 120px;
}

.sound-button {
  width: 60px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 100px;
  right: 20px;
}

.sound-img {
  width: 100%;
}

/* ------------ CONTEXT MENU ----------- */

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal__content {
  background-color: rgba(26, 44, 34, 0.384);

  padding: 20px;
  border: 3px solid #000000;
  text-shadow: 3px 0 0 black, 0 -3px 0 black, 0 3px 0 black, -3px 0 0 black;
  width: 40%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.close {
  width: 40px;
  position: relative;
  align-self: end;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
